body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

.container {
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background: #6366f1;
  color: white;
  border: none;
  cursor: pointer;
}

.preview img {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

pre {
  text-align: left;
  background: #020617;
  padding: 15px;
  margin-top: 20px;
  white-space: pre-wrap;
  border-radius: 6px;
  max-height: 300px;
  overflow-y: auto;
}
